*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

::selection {
    background: #fff;
    color: #000;
}

::-moz-selection {
    background: #fff;
    color: #000;
}

::-webkit-selection {
    background: #fff;
    color: #000;
}

/* ======= HEADER STYLE ======= */

body {
    background-color: #0b0d33;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

header {
    background-image: url(https://onegame.win/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 50px 0;
}

.header a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.mob {
    display: none;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    pointer-events: none;
    width: 217px;
}

.link-item {
    margin: 0 auto;
    padding-left: 80px;
}

.head-link {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin: 0 25px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
}

.head-link:hover {
    color: #5458a8;
    transition: all 0.5s;
}

.head-button {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(145deg, #ca5ee5, #5f2cf7);;
    border-radius: 100px;
    border: none; 
    padding: 13px 25px 16px 25px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    position: absolute;
}

.head-button:hover {
    transition: all 0.5s;
    box-shadow: 0 5px 20px rgba(115, 53, 244, 0.5);
}

.title-item {
    margin: 160px 0 290px 0;
}

.title-item h1 {
    color: #fff;
    font-size: 130px;
    font-weight: 700;
    line-height: 0.9em;
    margin: 0;
}

.title-item p {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 30px 0;
}

.start-button {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(145deg, #ca5ee5, #5f2cf7);;
    margin-top: 10px;
    border-radius: 100px;
    border: none; 
    padding: 17px 35px 20px 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.start-button:hover {
    transition: all 0.5s;
    box-shadow: 0 5px 20px rgba(115, 53, 244, 0.5);
}

.levels {
    width: 100%;
    padding: 10px 0 70px 0;
    margin: 40px 0;
}

.title-levels {
    text-align: center;
}

.title-levels span {
    color: #5458a8;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 30px 0;
}


.title-levels h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.level-item {
    background: linear-gradient(-45deg, rgba(202, 94, 229, 0.1), rgba(95, 44, 247, 0.1));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 25%;
    display: inline-block;
    margin: 15px 15px;
    padding: 30px;
    text-align: left;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.level-item p {
    margin-top: 0;
    margin-bottom: 0;
}

.level-price {
    display: flex;
    align-items: center;
}

.level-price p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.level-price img {
    margin-right: 12px;
    pointer-events: none;
    width: 26px;
}

.flex-right {
    margin-left: auto;
}

.level-info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.level-info p {
    color: #5458a8;
    font-size: 15px;
    font-weight: 500;
}

.level-activate {
    text-align: center;
    margin-top: 40px;
}

.level-activate h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.level-activate p {
    color: #5458a8;
    font-size: 15px;
    font-weight: 500;
}

.activate-button {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(145deg, #ca5ee5, #5f2cf7);
    margin-top: 45px;
    border-radius: 100px;
    border: none; 
    padding: 17px 45px 20px 45px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.activate-button:hover {
    transition: all 0.5s;
    box-shadow: 0 5px 20px rgba(115, 53, 244, 0.5);
}

.about {
    width: 100%;
    padding: 40px 0;
}

.about-box {
    display: flex;
    align-items: center;
}

.about-text {
    display: flex;
    align-items: center;
    position: relative;
    width: 55%;
}

.leftline {
    background: linear-gradient(-1deg, #5f2cf7, #ca5ee5);
    border-radius: 10px;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.about-title {
    margin-left: 60px;
    padding: 30px 0;
}

.about-title span {
    color: #5458a8;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.about-title h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    margin: 10px 0;
}

.about-title p {
    color: #5458a8;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    margin: 20px 0 0 0;
}

.about-total {
    background: linear-gradient(-45deg, rgba(202, 94, 229, 0.1), rgba(95, 44, 247, 0.1));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 30%;
    padding: 30px;
    margin-left: auto;
    text-align: left;
}

.about-total h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.about-total h3 {
    color: #fff;
    background-image: linear-gradient(-10deg, #5f2cf7, #ca5ee5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 800;
    margin: 8px 0 0 0;
}

.about-total span {
    color: #5458a8;
    font-size: 18px;
    font-weight: 500;
}

.about-total hr {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 20px 0;
}

/* ======= FOOTER STYLE ======= */

.footer {
    width: 100%;
    padding: 40px 0;
    margin: 80px 0 20px 0;
}

.sup {
    display: flex;
    align-items: center;
}

.sup-right {
    margin-left: auto;
}

.sup span {
    color: #5458a8;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.sup h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

.sup img {
    width: 100px;
    pointer-events: none;
}

.support-button {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(145deg, #ca5ee5, #5f2cf7);
    border-radius: 100px;
    border: none; 
    padding: 17px 45px 20px 45px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.support-button:hover {
    transition: all 0.5s;
    box-shadow: 0 5px 20px rgba(115, 53, 244, 0.5);
}

.footer-links {
    display: flex;
    margin-top: 45px;
}

.logo-footer {
    margin-right: 10px;
}

.footer-links img {
    width: 100px;
    pointer-events: none;
}

.links-box {
    display: inline-block;
    margin-left: 120px;
}

.links-box h3 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 4px 0 20px 0;
}

.links-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links-box ul li {
    margin-bottom: 15px;
}

.links-box ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #5458a8;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}

.links-box ul li a:hover {
    color: #fff;
    transition: all 0.5s;
}

.links-mob {
    margin: 0 auto;
}

.links-mob h3 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: 4px 0 20px 0;
}

.links-mob ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links-mob ul li {
    margin-bottom: 15px;
}

.links-mob ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #5458a8;
    text-decoration: none;
    transition: all 0.5s;
}

.links-mob ul li a:hover {
    color: #fff;
    transition: all 0.5s;
}

.join-game-btn {
    font-family: "Montserrat", sans-serif;
    background: transparent;
    border-radius: 100px;
    border: 1px solid #1f224c; 
    padding: 17px 30px 20px 30px;
    color: #5458a8;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

.join-game-btn:hover {
    transition: all 0.5s;
    color: #fff;
}

.copyright {
    margin-top: 60px;
}

.copyright span {
    font-size: 13px;
    font-weight: 500;
    color: #5458a8;
}

/* ======= ANIMATION STYLE ======= */

.animation {
    width: 170px;
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation span::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 4px solid #5458a8;
    position: absolute;
    z-index: 0;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
    outline: none;
}

@keyframes ring {
  0% {
    width: 0px;
    height: 0px;
    border: 4px solid rgba(84, 88, 168, 0.9);
  }
  100% {
    width: 100px;
    height: 100px;
    border: 4px solid rgba(84, 88, 168, 0);
  }
}

/* ======= PRELOADER STYLE ======= */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0b0d33;
    z-index: 1001;
}

.preloader-row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader-item {
    position: absolute;
    display: inline-block;
    top: 0;
    background: linear-gradient(145deg, #ca5ee5, #5f2cf7);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.hidden.metamask-button {
    display: none;
}

.preloader-item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded-hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* ======= PRELOADER STYLE ======= */