.popup {
  max-width: 440px;
  background: linear-gradient(
    145deg,
    rgba(202, 94, 229, 0.931),
    rgba(95, 44, 247, 0.738)
  );
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 40px 0 55px 0;
  text-align: center;
  transition-property: transform;
  transition-duration: 0.5s;
  margin: 40px;
}

.popup h1 {
  font-size: 18px;
  font-weight: 400;
  font-family: sans-serif;
  color: #fff;
  margin: 0 0 25px 0;
  line-height: 1.5em;
}
